Website/bin/
packages/
Website/obj/
Website.v11.suo
Website.suo
Website.sln.docstates.suo
Website/Styles/CMSColors.scss
Website/Properties/PublishProfiles/*
!Website/Properties/PublishProfiles/Live-FTP.pubxml
!Website/Properties/PublishProfiles/Staging-FTP.pubxml
Website/.idea/
Website/Images/Sprites/_sprite*
Website/Images/Sprites/*/_sprite*
*.suo
*_resized/
.sass-cache/

Website/Styles/_CMSColors.scss
Website/Website.csproj.user
WEBBASECalendarImport/bin/
WEBBASECalendarImport/obj/
.vs/config/applicationhost.config

.idea/modules.xml
.idea/website-mvc-kelvin-side-academy.iml
.idea/workspace.xml
.firebaserc
firebase.json
.sass-cache
node_modules
npm-debug.log
_PSD
.vs/
WEBBASECalendarImport/WEBBASECalendarImport.csproj.user
